

.avatar{
  margin-top: 6px;
  border: 4px groove;
}
.avatarBox{
  height:160px;
 }

.header{
  background-color: #A5D6A7;
 }

.companyWidget {
  top:50%;
  left:50%;
  width:auto;
  height:auto;
  text-align:center;
  border: 2px solid;
  padding: 6px;
  margin: 6px;
}

.companyWidget h1 {
  margin:auto;
  color:#1B5E20;
  line-height:50px;
  vertical-align:middle;
}
.companyWidget h3 {
  margin:auto;
  color:#388E3C;
  line-height:50px;
  vertical-align:middle;
}

.highcharts {
  top:50%;
  left:50%;
  width:auto;
  height:300px;
//  border: 2px dashed;
}


.bigCard {
  margin-top: 20px;
  top:50%;
  left:50%;
  width:auto;
  height:300px;
}

.leftArrow {
  height: 35px;
  left: 0;
}

.rightArrow {
  height: 35px;
  right: 0;
}
.reviewBox {
//  border: 2px dashed;
  position: absolute;
  bottom: 0;
  width:90%;
}
.reviewTitle {
  width: 100%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reviewBody {
   display: block;
   display: -webkit-box;
   margin: 0 auto;
   line-height: 1.4;
   -webkit-line-clamp: 12;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
 }


.bigCard {
  background-color: #A5D6A7;

}
.subCard {
  top:50%;
  left:50%;
  width:auto;
  height:300px;
  -webkit-animation: fade 5s;
  animation: fade 5s;
  opacity: 1;
}
.leftCardCol {
  position: relative;
  width:16%;
  height:300px;
  float: left;
//  border: 2px dashed;
}
.rightCardCol {
  top:5%;
  left:55%;
  width:80%;
  height:300px;
  float: right;
  margin-right: 10px;
//  border: 2px dashed;
  text-align:left;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 550px) {

  .avatar{
    width: 40px;
  }
}


